<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
  <pacakages>
  <pacakge name="io.pacakges"/>
  </pacakages>
    <!-- 
    <classes>
      <class name="io.annotations.TestAnnotations"/>
      <methods>
            <exclude name="Auto.*"/>
            </methods>
    </classes> -->
  </test>
</suite> 
